*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 43, 43);
}
#nav{
    width: 100%;
    height: 9vh;
    background-color: rgb(227, 224, 220);
    display: flex;
    align-items: center;
    padding: 0 1vw;
    font-size: larger;
    position: fixed;
    z-index: 99999;
}
#nav  h4{
    font-weight: 800;
    font-size: 25px;
}

#nav #links{
    display: flex;
    gap: 20px;
    padding-left: 25px;
    margin-left: 25px;
}

#links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}
#links a:hover{
    color: #EE1C47;
}
#navpart3{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vw;
    padding-left: 890px;
    font-weight: 400;
    z-index: 9999999999;
}
#navpart3 i:hover{
    transform: scale(1.1);
    color: #EE1C47;
    cursor: pointer;
}

#part1{
    height: 70vh !important;
    width: 100vw;
    background-color:#e8ebf2;
    position: relative;
    }

    /* #overlay{
        height: 30vh;
        width: fit-content;
        text-align: center;
    } */

    #overlay h1{
        position: absolute;
        top: 40%;
        font-weight: 400;
        text-transform: capitalize;
        left: 25%;
        font-size: 65px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    #b button{
        position: absolute;
        width: 10vw;
        background-color: #07080c;
        color: #d3d6e1;
        top: 70%;
        font-weight: 400;
        text-transform: capitalize;
        left: 45%;
        font-size: 23px;
        border-radius: 15px;
        padding: 5px 3px;
        margin-top: 20px;


    }
    #b button:hover{
        transform: scale(1.1);
        background-color: #fff;
        color: #07080c;
    }

    #overlay h4{
        position: absolute;
        width: 25vw;
        /* background-color: #07080c; */
        color: #7a7a7b;
        top: 58%;
        font-weight: 400;
        text-transform: capitalize;
        left: 39%;
        font-size: 22px;
        border-radius: 20px;
    }
    #image{
        display: flex;
    }

   
    #part1 #left img{
        height: 100vh;
        width: 100% !important;
        object-fit: cover;
        object-position: center;
    }
    
    #part1 #ri img{
        height: 70vh;
        width: 100vw;
        object-fit: cover;
        object-position: center;
    }

       

    #part2{
        
        height: 60vh;
        width: 100%;
        background-color: #fff;
    }
    #part2 h4{
        font-size: 32px;
        text-transform: capitalize;
        padding: 30px 20px 10px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    #part2 #imgp2{
        height: 48vh;
        width: 100%;
        display: flex;
        gap:18px;
        background-color: #fff
    }
    
   
    .elem{
        height: 450px;
        width: 290px;
        /* background-color: rgb(27, 103, 169); */
        /* border-bottom: 2px solid rgb(149, 147, 147); */
        position: relative;
       
    }
    .elem img{
        height: 300px;
        width: 290px;
        object-fit: cover;
        overflow: hidden;
        text-transform: capitalize;
    }
    .elem h6{
        position: absolute;
        left: 0%;
        font-size: 18px;
        left: 1%;
        font-weight: 300;
        padding-left: 5px;
        text-transform: capitalize;
    }
    .elem h5{
        position: absolute;
        right: 3%;
        font-size: 18px;
        font-weight: 300;
    }
    .elem :hover{
        transform: scale(0.9);
    }

#imgp2 h2{
    position: absolute;
    top: 142vh;
    left: 1%;
    font-size: 25px;
    border-top: 1px solid #07080c;
}


#part3{
    height: 52vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}
#part3 #left{
    height: 52vh;
    width: 50vw;

}
#part3 #right{
    height: 55vh;
    width: 50vw;
}
#left img{
    height: 100%;
    width: fit-content;
    object-fit: cover;
    overflow: hidden;
}
#right img{
    height: 100%;
    width: fit-content;
    object-fit: cover;
    overflow: hidden;
}

.products{
    padding :40px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    background-color: #7a7a7b30;
}
.row{
    position: relative;
    transition: all .40s;
    padding-left: 25px;
    /* border: 1px solid black; */
}
.row img{
    width: 100%;
    height: 45vh;
    transition: all .40s;
    border-radius: 1px solid black;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 29px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
}
.ratting i{
    color: #FF8C00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.contact{
    background-color: #f3f4f6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #EE1C47;
}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}


/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}


